BackEnd/IndiTownUI/Service References/OrganizationServiceReference/OrganizationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/IndiTownServices/services/OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Interfaces.DataContracts" />
  <xs:element name="CreateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Interfaces.DataContracts" minOccurs="0" name="organization" nillable="true" type="q1:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrganizationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Interfaces.DataContracts" minOccurs="0" name="organization" nillable="true" type="q2:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Interfaces.DataContracts" minOccurs="0" name="businessType" type="q3:BusinessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Interfaces.DataContracts" minOccurs="0" name="GetOrganizationByTypeResult" nillable="true" type="q4:ArrayOfOrganization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgranizationProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrgranizationProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Interfaces.DataContracts" minOccurs="0" name="GetOrgranizationProfileResult" nillable="true" type="q5:OrganizationProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>