BackEnd/IndiTownUI/Service References/ReviewServiceReference/ReviewService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReviewService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/IndiTownServices/services/ReviewService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/IndiTownServices/services/ReviewService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/IndiTownServices/services/ReviewService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Interfaces.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReviewService_CreateReview_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReview" />
  </wsdl:message>
  <wsdl:message name="IReviewService_CreateReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReview" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetUserReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReviews" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetUserReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReviewsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReviewService">
    <wsdl:operation name="CreateReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/CreateReview" message="tns:IReviewService_CreateReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/CreateReviewResponse" message="tns:IReviewService_CreateReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetReview" message="tns:IReviewService_GetReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetReviewResponse" message="tns:IReviewService_GetReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetUserReviews" message="tns:IReviewService_GetUserReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetUserReviewsResponse" message="tns:IReviewService_GetUserReviews_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReviewService" type="tns:IReviewService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReview">
      <soap:operation soapAction="http://tempuri.org/IReviewService/CreateReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReview">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserReviews">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetUserReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReviewService">
    <wsdl:port name="BasicHttpBinding_IReviewService" binding="tns:BasicHttpBinding_IReviewService">
      <soap:address location="http://localhost/IndiTownServices/services/ReviewService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>